#tree
{
    --red: red;
}

#tree .children,
#tree .content
{
    margin-left: 25px;
}

#tree .folding:before
{
    display: inline-block;
    cursor: pointer;
    width : 5px;
}

#tree .folding[state="expanded"]:before
{
    content: '-';
}

#tree .folding[state="collapsed"]:before
{
    content: '+';
}

#tree .content {
    overflow  : hidden;
    transition: max-height .1s ease;
}

#tree .activation,
#tree .name
{
    display: inline;
}

#tree .subtheme > .name
{
    font-size  : larger;
    font-weight: bolder;
}

#tree [off] > .name
{
    color: grey;
}


#tree .icon
{
    display: inline-block;
    width  : 10px;
    height : 10px;
}

#tree .regexp .icon
{
    background: black;
}

#tree .file[type="css"] .icon
{
    background: blue;
}

#tree .file[type="js"] .icon
{
    background: yellow;
}